<div class="container mt-5">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h1 class="card-title text-center font-weight-bold"><i class="fas fa-pencil-alt"></i>PENC<i class="fa fa-pencil"></i>L FRONTEND</h1>
          <hr class="my-4">
          <button 
            class="btn btn-lg btn-google btn-block text-uppercase" 
            type="submit"
            (click)="loginWithGoogle()">
            <i class="fa fa-google mr-2"></i>
            Sign in with Google
          </button>
          <!-- <button 
            class="btn btn-lg btn-facebook btn-block text-uppercase" 
            type="submit"
            (click)="loginWithFacebook()">
            <i class="fa fa-facebook mr-2"></i>
            Sign in with Facebook
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
